/* Estilos comuns para todas as páginas */
body {

    color: #333;
    font-family: Arial, sans-serif;
  }
  
  nav a {
    margin-right: 10px;
    text-decoration: none;
    color: darkkhaki;
  }
  
  nav a:hover {
    color: #ff00ff;
  }

  #imgpos {
    position: absolute; 
    left: 90px;  
    top: 70px; 
    
    }
  