/* Estilos comuns para todas as páginas */
body {
  background: image();
    background-color: #333;
    color: white;
    font-family: Arial, sans-serif;
  }
body h1{
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(202, 170, 64);

}
  
body p{
   text-align: center;
   

}
  nav a {
    margin: 120px;
    margin-right: -10px;
    text-decoration: none;
    color: darkkhaki;
  }
  
  nav a:hover {
    color: #ff00ff;
  }
  
  

  #imgpos {
    position: absolute; 
    left: 90px;  
    top: 70px; 
    
    }
  